<ul id="scopes">
  <% zombie_admin_resource.scopes.each_value do |scope| %>
    <% if scope.display? %>
      <% if scope.name.to_s == "all" %>
        <li><%= link_to scope.name, :scope => nil %></li>
      <% else %>
        <li><%= link_to scope.name, :scope => scope.name %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
